<%- include('../partials/html-head') %>

<h1>Profiles Index Page</h1>
<% profiles.forEach(profile => { %>
  <h3><%= profile.name %></h3>
  <% if (profile.avatar) { %>
    <img
      class="card-img-top"
      src="<%= profile.avatar %>"
      alt="<%= profile.name %>'s avatar"
      width="10%"
    />
  <% } else {%>
    <img
      class="card-img-top"
      src="https://picsum.photos/200"
      alt="A placeholder avatar"
      width="100%"
    />
  <% } %>
  <a href="/profiles/<%= profile._id %>">See Favorites</a>
<% }) %>


<%- include('../partials/footer') %>