<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-light">
  <h2>Current Listings</h2>
  <div class="container py-5 px-3">
    <div 
      class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g1 px-4"
    >
    <% if(listings.length) { %>
      <% listings.forEach(listing => { %>
        <div class="col">
          <a class="text-decoration-none" href="/listings/<%= listing._id %>">
            <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="../images/assets/coming-soon.jpeg"
                  alt="random image"
                  width="100%"
                />
              <div class="card-body">
                <p class="card-title fs-3 text-dark">
                  <%= listing.houseNo %>
                  <%= listing.street %>
                  <%= listing.city %>
                  <%= listing.state %>
                  <%= listing.zipCode %>
                </p>
          </a>
                  <% if(listing.realtor) { %>
                    <p><%= listing.realtor.name %></p>
                  <% } else { %>
                    <p>No Realtor Assigned</p>
                  <% } %> 
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                  <button type="submit">Delete Listing</button>
                </form>
              </div>
            </div>
        </div>
      <% }) %>
    <% } else { %>
      <h1>No Listings Yet!</h1>
      <% } %> 
      <a href="/listings/new">
        <button>Add Listing</button>
      </a>
    </div>
  </div>
</main>

<%- include('../partials/navbottom') %> 
<%- include('../partials/footer') %>