<%- include('../partials/html-head') %>


<main class="container container-column column-center">
  <% if(user) { %>
  <h1 class="realtor-index-title">Current Listings</h1>
    <br/>
    <br/>
    <div>
    <% if(listings.length) { %>
      <div class="listing-horizontal-listing-container">
        <ul class="listing-horizontal-list">  
          <% listings.forEach((listing,idx) => { %>
            <li class="listing-card">
              <a href="/listings/<%= listing._id %>">
                <div class="card-top" >
                  <img src="../images/assets/coming-soon.jpeg"  alt="pictures coming soon">
                </div>
                <div class="card-content" >
                  <p><%= listing.houseNo %> <%= listing.street %></p>
                  <p><%= listing.city %>,<%= listing.state %> <%= listing.zipCode %></p>
                  <% if(listing.realtor) { %>
                    <p><%= listing.realtor.name %></p>
                  <% } else { %>
                    <p>No Realtor Assigned</p>
                  <% } %>
                </div>
              </a>  
          </li>
          <% }) %>
        </ul>
      </div>
    <% } else { %>
      <h1>No Listings Yet!</h1>
    <% } %> 
    </div>
  <% } else { %>
    <div class="loggedin-restriction">
      <h1>Sorry, you must be logged into see current listings</h1>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    </div>
  <% } %>
  <br/>
  <a href="/listings/new">
    <button class="btn btn-primary">Add Listing</button>
  </a>
</main>

<%- include('../partials/navbottom-listings') %> 
<%- include('../partials/footer') %>