<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="bg-light">
  <% if(user) { %>
  <h2>Current Listings</h2>
  <div class="container py-5 px-3">
    <div 
      class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g1 px-4"
    >
    <% if(listings.length) { %>
      <% listings.forEach(listing => { %>
        <div class="card">
          <a class="text-decoration-none" href="/listings/<%= listing._id %>">
            <div class="card mb-4 shadow-sm">
                <img
                  class="card-img-top"
                  src="../images/assets/coming-soon.jpeg"
                  alt="coming-soon"
                  width="100%"
                />
              <div class="card-body">
                <p class="card-title fs-3 text-dark">
                  Available
                </p>
                <p class="card-text">
                <%= listing.houseNo %>
                  <%= listing.street %>
                  <%= listing.city %>
                  <%= listing.state %>
                  <%= listing.zipCode %>
                </p>
                  <% if(listing.realtor) { %>
                    <div id="listing-realtor-label">
                      <img id="listing-realtor-photo" src="../images/realtors/boyo.jpeg"alt="realtor-photo">
                      <p><%= listing.realtor.name %></p>
                    </div>
                  <% } else { %>
                    <p>No Realtor Assigned</p>
                  <% } %>
            </div>
          </a>
        </div>
    </div>
      <% }) %>
    <% } else { %>
      <h1>No Listings Yet!</h1>
      <% } %> 
      <a href="/listings/new">
        <button>Add Listing</button>
      </a>
    </div>
  </div>
  <% } else { %>
    <div class="loggedin-restriction">
      <h1>Sorry, you must be logged into see current listings</h1>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>