<%- include('../partials/html-head') %>

<h1>Listing Show Page</h1>
<p><%= listings.houseNo %></p>
<p><%= listings.street %></p>
<p><%= listings.state %></p>
<p><%= listings.zipCode %></p>
<% if(listings.realtor) { %>
  <a href="/realtors/<%=listings.realtor._id%>"><%= listings.realtor.name %></p>
<% } else { %>
  <p>No Realtor Assigned</p>
<% } %> 

<%- include('../partials/nav') %>
<%- include('../partials/footer') %>