<%- include('../partials/html-head') %>
<main>
  <div class="card mb-4 shadow-sm" id="listing-show-card">
    <img
      class="card-img-top"
      src="../images/assets/coming-soon.jpeg"
      alt="random image"
    />
    <div>
      <h5 class="card-title">Available</h5>
      <p>
      <%= listings.houseNo %>
      <%= listings.street %>
      <%= listings.state %>
      <%= listings.zipCode %>
      </p>
    </div>
    <% if(listings.realtor) { %>
      <div id="listing-realtor-label">
        <img id="listing-realtor-photo" src="../images/realtors/boyo.jpeg"alt="realtor-photo">
        <a class="btn btn-primary" href="/realtors/<%=listings.realtor._id%>"><%= listings.realtor.name %></a>
      </div>
    <% } else { %>
      <p>No Realtor Assigned</p>
    <% } %>
  </div>
  <form id="delete-listing" method="POST" action="/listings/<%= listings._id %>?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete this Listing</button>
  </form>
</main>

<%- include('../partials/navbottom-listings') %> 
<%- include('../partials/footer') %>