<%- include('../partials/html-head') %>
<main class="container container-column full-size column-center-top" >
  <img
    class="listing-show-image"
    src="../images/assets/coming-soon.jpeg"
    alt="random image"
  />
  <div class="container container-column column-center" id="listing-show-card">
    <div class="container container-column column-center" style="width: 100%; margin-bottom: 2vh;">
      <p class="group-heading"><%= listings.houseNo %> <%= listings.street %>
        <br/><%= listings.state %>, <%= listings.zipCode %></p>
      
      
    </div>
    <% if(listings.realtor) { %>
        <a href="/realtors/<%=listings.realtor._id%>">
          <img class="realtor-show-image" style="width: 100px; height: 100px;" src="<%=listings.realtor.photo%>"alt="realtor-photo">
        </a>
    <% } else { %>
      <p>No Realtor Assigned</p>
    <% } %>
    <form class="container container-column column-center" id="delete-listing" method="POST" action="/listings/<%= listings._id %>?_method=DELETE">
      <button class="btn btn-danger" type="submit">Delete Listing</button>
    </form>
  </div>
</main>

<%- include('../partials/navbottom-listings') %> 
<%- include('../partials/footer') %>