<%- include('./partials/html-head') %>

<main>
  <h1> Ah! Pardon Our Mess!</h1>
  <h2><%= message %></h1>
  <h3><%= error.status %></h2>
  <pre><%= error.stack %></pre>

</main>

<%- include('./partials/navbottom-landing') %> 
<%- include('./partials/footer') %>
