<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<div class="form-section">
  <h1>Update the Realtor</h1>
  <form action="/realtors/<%= realtor._id %>?_method=PUT" method="POST">
    <label>Name:</label>
    <input name= "name" value="<%= realtor.name %>">
    <label>Experience Level</label>
    <select name="experience" id="experience-select">
      <option value="intern">intern</option>
      <option value="beginner">beginner</option>
      <option value="advanced">advanced</option>
      <option value="expert">expert</option>
    </select>
    <button type="submit">Save Changes</button>
  </form>
</div>
</main>

<%- include('../partials/footer') %>