<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Realtor Index Page</h1>
<main>
  <% if(realtors.length){ %>
  <section>
    <% realtors.forEach(realtor => { %>
      <div>
        <div>
          <h3><%= realtor.name %></h3>
          <p><%= realtor.title%></p>
          <p><%= realtor.experience %></p>
          <a href="/realtors/<%=realtor._id%>"">More Info</a>
          <form action="/realtors/<%= realtor._id %>?_method=DELETE" method="post">
            <button type="submit">Delete Realtor</button>
          </form>
        </div>
      </div>
    <% }) %>
  </section>
  <% } else { %>
    <h3> No one on the team yet!</h3>
    <% } %> 
  <a href="/realtors/new">
    <button type="submit">Add Realtors</button>
  </a>
  </main>


<%- include('../partials/footer') %>