<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Realtor Index Page</h1>
<main>
  <% if(realtors.length){ %>
  <section>
    <% realtors.forEach(realtor => { %>
      <div class="card" style="width:100vw" class="realtor-index-card">
        <div class="realtor-index-card">
          <h3><%= realtor.name %></h3>
          <p><%= realtor.title%></p>
          <p><%= realtor.experience %></p>
          <a href="/realtors/<%=realtor._id%>"">
            <button class="btn btn-primary">More Info</button>
          </a>
        </div>
        <form action="/realtors/<%= realtor._id %>?_method=DELETE" method="post" id="realtor-delete-button">
          <button type="submit" class="btn btn-danger" >Delete Realtor</button>
        </form>
      </div>
    <% }) %>
  </section>
  <% } else { %>
    <h3> No one on the team yet!</h3>
    <% } %> 
  <a href="/realtors/new">
    <button type="submit">Add Realtors</button>
  </a>
  </main>


<%- include('../partials/footer') %>