<%- include('../partials/html-head') %>

<h2>Realtor Resource Show Page</h2>
<p><%= realtor.name %></p>
<p><%= realtor.experience %></p>
<section><% realtor.listings.forEach(listing => { %>
    <a href="/listings/<%=listing._id%>">
      <p><%= listing.houseNo %></p>
      <p><%= listing.street %></p>
      <p><%= listing.state %></p>
      <p><%= listing.zipCode %></p>
    </a>
  <% }) %>
</section>


<%- include('../partials/nav') %>
<%- include('../partials/footer') %>