<%- include('../partials/html-head') %>


<main class="container container-column column-center" style="width: 100%;">
  <h1 class="realtor-index-title"><%= realtor.name %></h1>
  <img class="realtor-show-image" src="<%= realtor.photo %>" alt="<%realtor.name%>'s Photo">
  <div class="container container-column column-center" style="width: 100%; margin-bottom: 2vh;">
      <h3><%= realtor.experience %></h3>
      <p><%= realtor.aboutMe %></p>
      <a class="realtor-show-edit-button" style="width: 100%" href="/realtors/<%= realtor._id %>/edit"><button ><i class="fa-solid fa-pencil"></i></button></a>
  </div>
  <hr/>
  <h5 class="group-heading" style="margin-top: 10px;"><%= realtor.name%>'s Listings</h5>
  <div class="realtor-show-listing-container">
    <% if(listings.length) { %>
      <div class="realtor-listing-horizontal-listing-container">
        <div class="realtor-listing-horizontal-list">  
          <% listings.forEach((listing,idx) => { %>
                <div class="listing-card">
                    <a href="/listings/<%= listing._id %>">
                    <div class="card-top" >
                      <img src="../images/assets/coming-soon.jpeg"  alt="pictures coming soon">
                    </div>
                    <div class="card-content" >
                      <p><%= listing.houseNo %> <%= listing.street %></p>
                      <p><%= listing.city %>,<%= listing.state %> <%= listing.zipCode %></p>
                    </div>
                  </a>  
                </div>
          <% }) %>
        </div>
      </div>
    <% } else { %>
      <h1>No Listings Yet!</h1>
      <% } %> 
  </div>
</main>

<%- include('../partials/navbottom-realtors') %>
<%- include('../partials/footer') %>